# Ignore everything
**

# Allow specifics
!UCD*.crt
!/build/libs/*.jar
!/src
!/gradlew
!/build.gradle.kts
!/gradle.properties
!/settings.gradle.kts
!/gradle/
!/entrypoint.sh
!/resources/
!*.jks
!/resources/application_dks.properties
