# Ignore everything
# **
# Not sure why this ignore file is  ignoring everything

# Allow specifics
!/src
!/gradlew
!/build.gradle.kts
!/gradle.properties
!/settings.gradle.kts
!/gradle/
!/entrypoint.sh
